__pycache__/
*.py[cod]
*.pyd
*.pyo

.venv/
venv/
ENV/
env/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
htmlcov/

.idea/
.vscode/
*.code-workspace

*.log
logs/
tmp/
*.tmp

.DS_Store
Thumbs.db
desktop.ini

.ipynb_checkpoints/

config.ini
.env
*.env
*.credentials
wallet/
*.pem
*.p12


*.pkl
